.myNewSwiper {
    
    width: 90%;
    height: 400px;
  }
  
  .myNewSwiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
  }
  
  .myNewSwiper .swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px!important;
    object-fit: cover;
    
  }


  .swiper-pagination{
        position:static;
        margin-top: 10px;
        
    }
  
  .swiper-pagination-bullet {
    background-color: #bbb; 
    transition: background-color 0.3s;
  }
  
  
  .swiper-pagination-bullet-active {
    background-color: var(--color-primario); 
  }
  