
.swiper{
  width: 100%;
  height: auto;
}

.swiper-wrapper{
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
  
}

.card{
  width: 20em;
  height: 90%;
  background-color: #fff;
  border-radius: 10px!important;
  box-shadow: 0 0 2em rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.swiper-slide:not(.swiper-slide-active){
  filter: blur(1px);
}



.card__image{
  width: 100%;
  height: 60%;
  border-radius: 50%;
  border: 5px solid var(--color);
  margin-bottom: 2em;
  transition: 0.6s ease;
}

/* .card__image:hover{
  transform: scale(1.02);
} */

.card__image img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  object-fit: cover;
  cursor: pointer;
}

.card__content{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__title{
  font-size: 20px;
  font-weight: 300;
}

.card__name{
  color: #7d7d7d!important;
  text-align: center;
  font-size: 12px;
  width: 100%;
  margin-top: 40px;
}

.card__name a{
  color: #7d7d7d!important;
}

.card__text{
  text-align: center;
  font-size: 1.1rem;
  margin: 1em 0;
} 

.card__btn{
  background-color: var(--color);
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  z-index: 999;
  background-color: var(--color-primario);
}


.swiper-pagination-bullet {
  background-color: #bbb; 
  transition: background-color 0.3s;
}


.swiper-pagination-bullet-active {
  background-color: var(--color-primario); 
}


@media (min-width: 721px){

  .card{
    width: 260px;
    height: 400px;
    border-radius: 20px;
  }

  .card__image{
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: 5px solid var(--color);
    margin: 0;
  }
 
  .card__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }


}