#swiper-testimonios .swiper-wrapper .swiper-slide {
    height: auto;
    padding-bottom: 60px; /* Asegura suficiente espacio debajo */
}

#swiper-testimonios .swiper-wrapper {
    height: auto;
}

#swiper-testimonios .swiper-pagination{
  position: absolute;
  width: 100%;
  text-align: center;
  
}